<div class="container-fluid bg-light">

  <div class="container">

    <div class="row">

    <div class ="col-lg-3 col-12 mb-2">

      <div class="alert alert-primary text-center my-3" role="alert">
        Are you looking for Used Auto Parts of Japanese Car ?
        <br>
        <%= link_to "https://goo.gl/forms/77nuL6HDQSVqzQeH2", class:"btn btn-danger my-2" do %>
         <h3 class="mb-0">Order Here!</h3>
        <% end %>
        <br>
        We will find & deliver any autoparts you are looking for from Japan.
        <br>
      </div>

      <div class="card">
        <div class="card-body">
          <%= link_to "#", class:"text-secondary" do %>
          <i class="fas fa-car fa-lg"></i>
          <h5 class="card-title d-inline">Find from Car Model</h5>
          <i class="fas fa-angle-right"></i>
          <% end %>
          <a href="#" class="badge badge-secondary">Land Cruiser</a>
          <a href="#" class="badge badge-secondary">X-trail</a>
        </div>

        <hr class="my-0">

        <div class="card-body">
          <%= link_to "#", class:"text-secondary" do %>
          <i class="fas fa-wrench fa-lg"></i>
          <h5 class="card-title d-inline">Find from Parts </h5>
          <i class="fas fa-angle-right"></i>
          <% end %><br>
          <a href="#" class="badge badge-secondary">Engine</a>
          <a href="#" class="badge badge-secondary">Starter</a>
          <a href="#" class="badge badge-secondary">Alternator</a>
        </div>

        <hr class="my-0">

        <div class="card-body">
          <%= link_to "#", class:"text-secondary" do %>
          <i class="far fa-list-alt fa-lg"></i>
          <h5 class="card-title d-inline">Find from Car Maker</h5>
          <i class="fas fa-angle-right"></i>
          <% end %>
          <a href="#" class="badge badge-secondary">Toyota</a>
          <a href="#" class="badge badge-secondary">Nissan</a>
          <a href="#" class="badge badge-secondary">Subaru</a>
        </div>

      </div>
    </div>

    <div class = "col-lg-9 col-12">

      <div class="row">

      <% @autoparts.each do |parts| %>
      <%= link_to autopart_path(parts), class:"text-secondary remove-derline" do %>
      <div class="card mx-2 mb-2" style="width:15rem;">
      <%= image_tag("parts_example.JPG", alt: "parts_example", size: "238x180")%>
      <div class="pill-position-top">
      <span class="badge badge-pill badge-light">
      <% if parts.condition == 0 %>
      Used
      <% elsif parts.condition == 1 %>
      New - Genuine
      <% elsif parts.condition == 2 %>
      new - Reman
      <% end %>
      </span>
      </div>
      <div class="card-body">

        <p class="card-text"><%= parts.parts_category %> of <%= parts.car_model %>, <%= parts.car_brand %></p>

      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-right text-success">
          <%= number_to_currency(parts.offer_price.initial, :unit => "JPY ", :precision => 0) %>
          <br>
          (<%= number_to_currency(parts.offer_price.initial / 105, :unit => "US$ ") %>)
        </li>
      </ul>
      </div>
      <% end %>
      <% end %>

    </div>

    </div>

  </div>
</div>
</div>
