<div class="container-fluid bg-light py-5">

  <div class="container">

    <div class="row">

      <div class ="col-lg-3 d-none d-lg-block mb-2">
        <div class="alert alert-primary text-center" role="alert">
          Are you looking for Used Auto Parts of Japanese Car ?
        <br>
        <%= link_to "https://goo.gl/forms/77nuL6HDQSVqzQeH2", class:"btn btn-danger my-2" do %>
         <h3 class="mb-0">Order Here!</h3>
        <% end %>
        <br>
        We will find & deliver any autoparts you are looking for from Japan.
        <br>
      </div>

      <div class="card ">
        <div class="card-body">
          <%= link_to "#", class:"text-secondary" do %>
          <i class="fas fa-car fa-lg"></i>
          <h5 class="card-title d-inline">Find from Car Model</h5>
          <i class="fas fa-angle-right"></i>
          <% end %>
          <a href="#" class="badge badge-secondary">Land Cruiser</a>
          <a href="#" class="badge badge-secondary">X-trail</a>
        </div>

        <hr class="my-0">

        <div class="card-body">
          <%= link_to "#", class:"text-secondary" do %>
          <i class="fas fa-wrench fa-lg"></i>
          <h5 class="card-title d-inline">Find from Parts </h5>
          <i class="fas fa-angle-right"></i>
          <% end %><br>
          <a href="#" class="badge badge-secondary">Engine</a>
          <a href="#" class="badge badge-secondary">Starter</a>
          <a href="#" class="badge badge-secondary">Alternator</a>
        </div>

        <hr class="my-0">

        <div class="card-body">
          <%= link_to "#", class:"text-secondary" do %>
          <i class="far fa-list-alt fa-lg"></i>
          <h5 class="card-title d-inline">Find from Car Maker</h5>
          <i class="fas fa-angle-right"></i>
          <% end %>
          <a href="#" class="badge badge-secondary">Toyota</a>
          <a href="#" class="badge badge-secondary">Nissan</a>
          <a href="#" class="badge badge-secondary">Subaru</a>
        </div>

      </div>
      </div>

      <div class = "col-lg-9 col-12">

        <div class="row">
          <div class="alert alert-warning w-100" role="alert">
            Next tenders to be held are as follow! Don't miss it!
        <ul class="list-group w-100 ">
          <% @tenders.each do |tender| %>
          <li class="list-group-item">
            <%= tender.starts_at %> ~ <%= tender.ends_at %>
            <%= tender.status %>
            organized by <%= tender.seller.company_name %>
          </li>
          <% end %>
        </ul>
        </div>
        </div>

        <% @engines.each do |engine| %>
        <%= link_to engine_path(engine), class:"text-secondary remove-derline" do %>

        <div class="row mb-2">
          <div class="card flex-row flex-wrap" style="width:100%">
            <div class="card-header d-inline border-0 p-0">
              <%= image_tag("parts_example.JPG", size: "158x120")%>
              <div class="pill-position-top">
              <span class="badge badge-danger">remainig 3days</span>
              </div>
            </div>
            <div class="card-body p-2">

              <span class="badge badge-pill badge-dark">
              <% if engine.condition == 0 %>
              Used
              <% elsif engine.condition == 1 %>
              New Genuine
              <% elsif engine.condition == 2 %>
              New Reman
              <% end %>
              </span>

              <br>

              <%= engine.engine_model_code %>
              <br>
              <%= engine.car_model %>, <%= engine.car_make %>
              <br>
              <span class="text-dark">
                <i class="fas fa-map-marker-alt"></i>
                Aichi | Nagoya
              </span>
              <br>

            </div>
            <div class="card-footer w-100 bg-white p-2 text-success justify-content-end">
              <span class="text-muted">min price</span>
              <%= number_to_currency(engine.minimum_price, :unit => "JPY ", :precision => 0) %>
              &nbsp;&nbsp;
              <button type="button" class="btn btn-sm btn-success">Place Bid</button>
            </div>
          </div>
        </div>

        <% end %>
        <% end %>

    </div>

  </div>
</div>
</div>
