<div class="container-fluid bg-light">
  <div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-3">

      <h2 class="text-muted d-inline">My Account</h2>

    </div>
  </div>

  <% if current_user && (!current_user.first_name || !current_user.nationality || current_user.tel.empty?) %>
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger w-100" role="alert">
        <strong>
          Complete your profile from
          <%= link_to "here", edit_user_registration_path %>
          !
        </strong>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-12">

      <div class="my-2 text-secondary">
        Profile
        &nbsp;&nbsp;
        <%= link_to edit_user_registration_path, class:"text-success" do %>
        <i class="far fa-edit"></i> update
        <% end %>
      </div>

      <table class="table bg-white">
        <tbody>
          <tr>
            <th scope="row">name</th>
            <td>
              <%= @current_user.first_name ? @current_user.first_name : "-register your first name-" %>
              <%= @current_user.first_name ? @current_user.last_name : "-register your last name-" %>
            </td>
          </tr>
          <tr>
            <th scope="row">e-mail</th>
            <td><%= @current_user.email %></td>
          </tr>
          <tr>
            <th scope="row">tel</th>
            <td>
              <% if @current_user.tel.nil? %>
              <%= link_to edit_user_registration_path do %>
              <i class="far fa-edit"></i> waiting for your info!
              <% end %>
              <% else %>
              <%= @current_user.tel %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th scope="row">nationality</th>
            <td>
              <% if @current_user.nationality.nil? %>
              <%= link_to edit_user_registration_path do %>
              <i class="far fa-edit"></i> waiting for your info!
              <% end %>
              <% else %>
              <%= @current_user.nationality %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <div class="my-2 text-secondary">
        Buy
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to bidded_items_path, class:"text-dark" do %>
          <i class="fas fa-list-ol"></i>
          Bidded Items
          <% end %>
        </li>
        <li class="list-group-item">something</li>
        <li class="list-group-item">something</li>
      </ul>

      </div>
      </div>
</div>

</div>
