<div class="modal text-dark" id="place-bid-<%= engine.id %>", tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          input your price for
          <span style="font-size:2rem;">
            <strong><%= engine.engine_model_code %></strong>
          </span>

        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for @bid_price, url: tender_engine_bid_prices_path(@engine.tender, engine) do |f| %>

      <div class="modal-body">
        <div class="form-group">
          <%= f.text_field :price, class: 'form-control', required: true, placeholder:"input by JPY" %>
        </div>
      </div>

      <div class="modal-footer">

        <%= f.submit "Submit!", class:"btn btn-success" %>

        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
          <i class="fas fa-times"></i>
          &nbsp;<strong>Reconsider</<strong>
          </button>
        </div>

        <% end %>

    </div>
  </div>
</div>
