<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">

      <h2 class="text-muted">Update <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :first_name %>&nbsp;<span class="text-danger"><small>*required</small></span><br />
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>&nbsp;<span class="text-danger"><small>*required</small></span><br />
        <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>&nbsp;<span class="text-danger"><small>*required</small></span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="alert alert-danger my-5" role="alert">
        <strong>Password change</strong>
        <br>
        if you won't change the password, keep the below form <strong>blank</strong>.
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <hr>

        <div class="form-group">
          <%= f.label :password, "New Passowrd" %> <br />
          <% if @minimum_password_length %>
          <i><span class="text-danger">* input new password.
            <em>min. <%= @minimum_password_length %> characters</em></span></i><br />
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

      </div>

      <div class="form-group">
        <%= f.label :current_password %>&nbsp;<span class="text-danger"><small>*required to confirm the update</small></span><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>





      <div class="actions">
        <%= f.submit "Update", class:"btn btn-info my-3" %>
      </div>

      <% end %>

      <%= link_to mypage_path, class:"btn btn-outline-secondary" do %>
      <i class="far fa-hand-point-left"></i>&nbsp;&nbsp;Back
      <% end %>

    </div>
  </div>
</div>

<% if false %>

<h3>Cancel my account</h3>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<% end %>
