<div class="container-fluid">
  <div class="row">

    <nav class="col-2 bg-light sidebar">
      <%= render 'sellers/shared/sidebar' %>
    </nav>

    <main class="col-10 ml-sm-auto">

      <div class="row">

        <div class="col-12 mt-3">
          <div class="alert alert-success" role="alert">
            <strong><%= @current_tender.seller.company_name %> 入札 No. <%= @current_tender.id %></strong>

            <%= link_to sellers_tender_path(@current_tender), class:"btn btn-sm btn-success ml-4" do %>
            <i class="fas fa-chevron-left"></i>&nbsp;戻る
            <% end %>

            <div class="bg-light p-2 my-2">
              入札開始日：<strong><%= @current_tender.starts_at.strftime("%Y年%m月%d日（#{format_wday_ja(@current_tender.starts_at)}） %H:%M") %></strong>、
              入札終了日：<strong><%= @current_tender.ends_at.strftime("%Y年%m月%d日（#{format_wday_ja(@current_tender.starts_at)}）%H:%M") %></strong>
            </div>

            <div class="bg-light p-2">
              ステータス：
              <% if @current_tender.preparation_status == 1 %>
              <span class="text-primary">
                <strong>準備完了 - 自動で入札が開催されます。 </strong>
              </span>
              <% else %>
              <span class="text-danger">
                <strong>準備中</strong>
              </span>
              <% end %>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <h1 class="my-3"><i class="fas fa-car"></i>&nbsp;エンジン登録</h1>
          <%= form_for @engine, url: :sellers_tender_engines do |form| %>
          <%= render 'sellers/engines/form', form: form %>
          <%= form.submit "登録する", class:"btn btn-primary my-3" do %>
          <% end %>
          <% end %>
        </div>
      </div>
    </main>

  </div>
</div>
