<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">

      <div class="jumbotron bg-light pt-2">
        <h1 class="display-4"> <%= @seller.company_name_en %></h1>
        <hr class="my-4">
        <p>
          <i class="fas fa-map-marked-alt"></i>&nbsp;
          <%= @seller.company_address %>
        </p>
        <%= link_to "#", class:"btn btn-sm btn-warning" do %>
        <i class="far fa-star"></i> follow this company
        <% end %>
        <%= link_to @seller.company_url, class:"btn btn-sm btn-success btn-lg" do %>
        Visit Our Website
        <% end %>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <ul class="ul-blue">
        <li><h2><%= @seller.company_name_en %> Engine Tenders</h2></li>
      </ul>

        <ul class="nav nav-tabs">

          <% %i(show in_progress finished).each do |action| %>
          <li class="nav-item">
            <%= tenders_nav_link(action) %>
          </li>
          <% end %>
        </ul>

      <% @tenders.each do |tender| %>
      <div class="tenders bg-light-success w-100 mt-3">
        <%= link_to tender_path(tender) do %>
        <div class="one-tender  text-dark p-2">
          Tender No. <%= tender.id %>
          &nbsp;
          <span class="badge badge-success">
          <i class="fas fa-car"></i>&nbsp;<strong><%= tender.engines.count %></strong> engines
          </span>
          <span class="badge badge-pill badge-danger">in progress</span>
          <br>
          Start：<strong><%= tender.starts_at.strftime("%d %b %Y (%a) %H:%M") %></strong>
          <br>
          End：<strong><%= tender.ends_at.strftime("%d %b %Y (%a) %H:%M") %></strong>
          <br>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="col-12">

      <ul class="ul-blue mt-5">
        <li><h2><%= @seller.company_name_en %> Engine Tender Rule</h2></li>
      </ul>

      <% if @tender_rule %>

        <table class="table table-bordered table-striped mt-5">
          <tbody>
            <tr>
              <th>
                Payment
              </th>
              <td>
                <% if @tender_rule.payment_cash_in_advance %>
                <span class="badge badge-warning" style="font-size:1rem;">
                  Cash
                </span>
                <% end %>
                <% if @tender_rule.payment_bank_transfer_in_advance %>
                <span class="badge badge-warning" style="font-size:1rem;">
                  Bank Transfer
                </span>
                <% end %>
                <% if @tender_rule.payment_credit_card_in_advance %>
                <span class="badge badge-warning" style="font-size:1rem;">
                  Credit Card
                </span>
                <% end %>
              </td>
            </tr>
            <tr>
              <th scope="row">Consumption Tax（8%）</th>
              <td>
                <% if @tender_rule.tax == 0 %>
                To be paid separately
                <% elsif @tender_rule.tax == 1 %>
                To be included in your bid price
                <% end %>
              </td>
            </tr>
            <tr>
              <th scope="row">Delivery</th>
              <td>
                <% if @tender_rule.delivery == 0 %>
                No. You have to come to colloect.
                <% elsif @tender_rule.delivery == 1 %>
                Possible. You will bear the cost.
                <% end %>
              </td>
            </tr>
            <tr>
              <th scope="row">
                Pick up
              </th>
              <td>
                within
                <strong><%= @tender_rule.pickup_date %></strong>
                days
              </td>
            </tr>
            <tr>
              <th scope="row">Cancel</th>
              <td>
                <% if @tender_rule.cancel == 0 %>
                Not possible.
                <% end %>
              </td>
            </tr>
            <tr>
              <th scope="row">Priority</th>
              <td>
                <% if @tender_rule.priority == 0 %>
                first bidder will be prioritized.
                <% elsif @tender_rule.priority == 1 %>
                その他
                <% end %>
              </td>
            </tr>
            <tr>
              <th scope="row">Final Price</th>
              <td>
                <% if @tender_rule.disclose == 0 %>
                To be disclosed.
                <% elsif @tender_rule.disclose == 1 %>
                Not disclosed.
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>


      <% else %>

      <div class="alert alert-danger my-5" role="alert">

        <p>
          <i class="fas fa-exclamation-triangle"></i>
          No rule yet set.
        </p>
      </div>

      <% end %>

  </div>
</div>
