<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <div class="alert alert-primary mt-4" role="alert">

        <span class="text-danger" style="font-size:1.5rem;">
          <strong>
            <%= @tender.engines.count %>
          </strong>
        </span>
        engines are in

        Tender No. <%= @tender.id %> <small>organized by </small>
        <strong>
          <%= link_to @tender.seller.company_name_en, seller_path(@tender.seller) %>
        </strong>
        <div class="bg-light p-2 my-2">
          <%= t("tenders.start")%>：<strong><%= @tender.starts_at.strftime("%d %b %Y (%a) %H:%M") %></strong>
          <br>
          <%= t("tenders.end")%>：<strong><%= @tender.ends_at.strftime("%d %b %Y (%a) %H:%M") %></strong>
        </div>

        <div class="bg-light p-2 mb-2">
          <%= t("tenders.location")%>：
          <span>
            <% unless @tender.tender_location.nil? %>
            <strong><%= @tender.tender_location.address_city_part %>, <%= @tender.tender_location.address_rest_part%>, <%= @tender.tender_location.address_prefecture_part%></strong>
            <% else %>
            <small>this location has not been used</small>
            <% end %>
          </span>
        </div>

        <div class="bg-light p-2">
          <%= t("tenders.status")%>： <%= tender_status_text_for_c(@tender) %>
        </div>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <% @engines.each do |engine| %>
      <%= link_to tender_engine_path(@tender, engine), class:"remove-underline" do %>
      <div class="card flex-row flex-wrap my-2 w-100">
        <div class="card-header d-inline border-0 p-0">
          <%= image_tag("parts_example.JPG", size: "158x120")%>
        </div>
        <div class="card-body p-2">
          <span class="badge badge-pill badge-dark">
            <% if engine.condition == 0 %>
            Used
            <% elsif engine.condition == 1 %>
            New Genuine
            <% elsif engine.condition == 2 %>
            New Reman
            <% end %>
          </span>

          <br>

          <%= engine.engine_model_code %>
          <br>
          <%= engine.car_model %>, <%= engine.car_make %>

          <br>

        </div>

        <div class="card-footer w-100 bg-white p-2 text-success justify-content-end">
          <span class="text-muted">min price</span>
          <%= number_to_currency(engine.minimum_price, :unit => "JPY ", :precision => 0) %>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-success">Show Detail & Place Bid</button>
          &nbsp;&nbsp;
          <span class="text-muted">
          <i class="fas fa-users"></i>
          <strong>
          <%= engine.bidders.count %>
          </strong>
          bidders
          </span>

        </div>

      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
