<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="corporateNav">
    <%= link_to 'HeyWorld', :root, class: "navbar-brand", style:"color:gray;" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% unless current_seller %>
        <li class="nav-item">
          <% if current_user %>
          <%= link_to mypage_path, class: 'btn btn-primary' do %>
          <%= current_user.first_name ? current_user.first_name : "Hi Buyer!" %> | Top Page
          <% end %>
          <% else %>
          <%= link_to :new_user_session, class: 'btn btn-primary' do %>
          Buyer | Sign In
          <% end %>
          <% end %>
        </li>
        <% end %>

        &nbsp;&nbsp;

        <li class="nav-item">
          <% if current_seller %>
            <%= link_to sellers_root_path, class: 'btn btn-success' do %>
            <%= current_seller.company_name %>様トップページ
            <% end %>
          <% end %>
          <% unless current_user || current_seller %>
            <%= link_to new_seller_session_path, class: 'btn btn-success' do %>
            販売企業様はこちら
            <% end %>
          <% end %>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-expand navbar-light bg-dark">

    <ul class="navbar-nav align-items-center">
      <i class="far fa-user-circle fa-2x py-2 text-white"></i>
      <span class="px-2 text-white">welcome!</span>
      <li class="nav-item dropdown">
        <a class="text-white dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_seller %>
          <%= current_seller.company_name %>様
          <% elsif current_user %>
          <strong><%= current_user.first_name %></strong>
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% if current_seller %>
            <%= link_to sellers_root_path, class:"dropdown-item" do %>
            <%= current_seller.company_name %>様トップページ
            <% end %>
          <% elsif current_user %>
            <%= link_to mypage_path, class:"dropdown-item" do %>
            <i class="fas fa-home"></i>
            My Page
            <% end %>
          <% else %>
            <%= link_to new_user_session_path, class:"dropdown-item" do %>
            Buyer Sign In
            <% end %>
          <% end %>

          <% if current_user %>
            <div class="dropdown-divider"></div>
            <%= link_to bidded_items_path, class: 'dropdown-item' do %>
            <i class="fas fa-list-ol"></i>
            Bidded Items
            <% end %>
          <% end %>

          <div class="dropdown-divider"></div>
          <% if current_seller %>
            <%= link_to destroy_seller_session_path, method: :delete, class: 'dropdown-item' do %>
            <i class="fas fa-sign-out-alt"></i>
            ログアウト
            <% end %>
          <% elsif current_user %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
            <i class="fas fa-sign-out-alt"></i>
            Sign Out
            <% end %>
          <% else %>
          <%= link_to new_seller_session_path, class:"dropdown-item" do %>
          販売企業様サインイン
          <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  </nav>

</header>
