<div class="container-fluid">
  <div class ="row">

    <nav class="col-2 bg-light sidebar">
      <%= render 'sellers/shared/sidebar' %>
    </nav>

    <main class="col-10 mt-3">

      <div class="alert alert-light" role="alert">
        <h1>ご登録情報アップデート</h1>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :company_name, "会社名" %><br />
        <%= f.text_field :company_name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :company_address, "会社住所" %><br />
        <%= f.text_field :company_address, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :company_tell, "会社電話番号" %><br />
        <%= f.text_field :company_tell, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :company_url, "会社ホームページ" %><br />
        <%= f.text_field :company_url, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, "email" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="alert alert-danger my-5" role="alert">
        <strong>ログインパスワードの変更</strong>
        <br>
        変更しない場合は、<strong>空欄</strong>のままにしてください。
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <hr>

        <div class="form-group">
          <%= f.label :password, "新しいパスワード" %>
          <% if @minimum_password_length %>
          <i><span class="text-danger">* 新しいパスワードを入力してください。<em>最低<%= @minimum_password_length %> 文字</em></span></i><br />
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "新しいパスワード（確認）" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

      </div>

      <div class="form-group">
        <%= f.label :current_password, "現在のパスワード" %> <i><span class="text-danger">* 登録情報をアップデートするにあたり、必ず現在のパスワードを入力してください</span></i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "アップデート", class:"btn btn-info my-3" %>
      </div>
      <% end %>

      <%= link_to :sellers_account_info, class:"btn btn-secondary" do %>
      <i class="fas fa-times"></i> キャンセル
      <% end %>

      <% if false %>

      <h3>Cancel my account</h3>
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <% end %>


    </main>
  </div>
</div>
