  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
      <%= link_to :sellers_root, class:"nav-link text-dark hover-bold" do %>
      <i class="fas fa-home"></i>&nbsp;トップページ
      <% end %>
      </li>
      <li class="nav-item">
      <%= link_to :new_sellers_tender, class:"nav-link text-dark" do %>
      <i class="fas fa-box-open"></i>&nbsp;入札を開始する
      <% end %>
      </li>
      <li class="nav-item">
      <%= link_to :sellers_tenders, class:"nav-link text-dark" do %>
      <i class="fas fa-chalkboard-teacher"></i>&nbsp;設定済入札
      <% end %>
      </li>
      <li class="nav-item">
      <%= link_to :new_sellers_autopart, class:"nav-link text-dark" do %>
      <i class="fas fa-car"></i>&nbsp;単品で出品する
      <% end %>
      </li>
      <li class="nav-item">
      <%= link_to :sellers_autoparts, class:"nav-link text-dark" do %>
      <i class="fas fa-camera-retro"></i>&nbsp;出品中の商品
      <% end %>
      </li>
      <li class="nav-item">
      <%= link_to "#", class:"nav-link text-dark" do %>
      <i class="fas fa-luggage-cart"></i>&nbsp;配送状況
      <% end %>
      </li>
      <li class="nav-item">
      <%= link_to sellers_account_info_path, class:"nav-link text-dark" do %>
      <i class="fas fa-user-circle"></i>&nbsp;アカウント
      <% end %>
      </li>
    </ul>
  </div>
