  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
      <%= link_to :sellers_root, class:"nav-link text-dark hover-bold" do %>
      <i class="fas fa-home"></i>&nbsp;トップページ
      <% end %>
      </li>
      <li class="nav-item">
      <%= link_to "#", class:"nav-link text-dark" do %>
      <i class="fas fa-car"></i>&nbsp;何か入る
      <% end %>
      </li>
      <li class="nav-item">
      <%= link_to :sellers_root, class:"nav-link text-dark" do %>
      <i class="fas fa-car"></i>&nbsp;何か入る
      <% end %>
      </li>
      <li class="nav-item">
      <%= link_to :sellers_root, class:"nav-link text-dark" do %>
      <i class="fas fa-camera-retro"></i>&nbsp;出品中の商品
      <% end %>
      </li>
      <li class="nav-item">
      <%= link_to :sellers_root, class:"nav-link text-dark" do %>
      <i class="fas fa-luggage-cart"></i>&nbsp;配送状況
      <% end %>
      </li>
    </ul>
  </div>
