<% assign_meta_tags title: t("meta_tags.defaults.title"),
                    description: t("meta_tags.defaults.description"),
                    keywords: t("meta_tags.defaults.keywords") %>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="corporateNav">
    <div class="container">
      <%= link_to "HeyWorld, Inc.", "#page-top", class:"navbar-brand js-scroll-trigger" %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "#{t('corporate.mission')}", "#about", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "#{t('corporate.product')}", "#services", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "#{t('corporate.team')}", "#team", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "#{t('corporate.recruit')}", "#recruit", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "#{t('corporate.company')}", "#contact", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <% if I18n.locale.to_s == "en" %>
            <%= link_to('JP', { :locale => '' }, { class: "btn btn-sm btn-success js-scroll-trigger" }) %>
            <% else %>
            <%= link_to('EN', { :locale => 'en' }, { class: "btn btn-sm btn-success js-scroll-trigger" }) %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white d-flex">
    <div class="container mt-5 my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1>
            <strong>
              Tech x Africa x
              <br>
              Used Auto Parts
            </strong>
          </h1>
          <hr class="corporate-green">
        </div>
        <div class="col-lg-8 mx-auto">
          <h2 class="text-faded mb-5">
            <%= t('corporate.toptext') %>
            <br>
            <%= t('corporate.toptext2') %>
          </h2>
          <%= link_to "#{t('corporate.findoutmore')}", "#about", class:"btn btn-corporate btn-corporate-green btn-corporate-xl js-scroll-trigger" %>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-corporate-green" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">
            Mission
          </h2>
          <hr class="corporate-light my-4">
          <p class="text-faded mb-4">
            <%= t('corporate.mission1')%>
            <br><br>
            <%= t('corporate.mission2')%>
            <br><br>
            <%= t('corporate.mission3')%>
            <br><br>
            <%= t('corporate.mission4')%>
            <br><br>
            <%= t('corporate.mission5')%>
          </p>
          <%= link_to "#{t('corporate.product')}", "#services", class:"btn btn-corporate btn-light btn-corporate-xl js-scroll-trigger" %>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">
            自社専用オンライン入札システム
            <br>
            - SaaS/クラウドベース -
          </h2>
          <hr class="my-4 corporate-green">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-car-alt text-corporate-green mb-3 sr-icon-2"></i>
            <h3 class="mb-3">
              簡単・安価に専用の
              <br>
              オンライン入札を開催
            </h3>
            <p class="text-muted mb-0">
              インターネットを利用して、自動車解体会社・中古パーツ会社様も簡単に自社単独の入札会を開催できます。
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-cloud fa-4x text-corporate-green mb-3 sr-icon-1"></i>
            <h3 class="mb-3">
              SaaS/クラウドベース
            </h3>
            <p class="text-muted mb-0">
              月額/販売実績ベースの安価な料金設定。
              <br>
              クラウドベースだから、常に最新のソフトウェアにアップデートされます。
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-clipboard-list text-corporate-green mb-3 sr-icon-3"></i>
            <h3 class="mb-3">
              アフリカ市場開拓
            </h3>
            <p class="text-muted mb-0">
              多数の外国人バイヤーと接続し、販売先の多角化と売上増加を実現。
              アフリカ市場への直接輸出やマーケット調査を含め、
              総合商社にてアフリカ市場のビジネスで経験を積んだメンバーが
              支援いたします。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="#">
            <%=image_tag "portfolio/thumbnails/product.png", class:"img-fluid" %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  オンライン入札
                </div>
                <div class="project-name">
                  現在、招待制にて運用を開始しています。
                  詳細は、お問い合わせからご連絡ください。
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="#">
            <%=image_tag "portfolio/thumbnails/bid.png", class:"img-fluid" %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  オンライン入札
                </div>
                <div class="project-name">
                  現在、招待制にて運用を開始しています。
                  詳細は、お問い合わせからご連絡ください。
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="#">
            <%=image_tag "portfolio/thumbnails/market.JPG", class:"img-fluid" %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  アフリカ市場調査・開拓
                </div>
                <div class="project-name">
                  自動車マーケットに限らず、対応可能。
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">TEAM</h2>
          <hr class="my-4 corporate-green">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="team-member">
            <%= image_tag "team/yu.jpeg", class:"mx-auto rounded-circle"  %>
            <h4><%= t('corporate.yusagawa')%></h4>
            <p class="text-muted">CEO & CTO, Co-Founder</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <%= link_to "https://twitter.com/innjera", target:["_blank"] do %>
                <i class="fab fa-twitter"></i>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to "https://github.com/Innjera", target:["_blank"] do %>
                <i class="fab fa-github"></i>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to "https://www.linkedin.com/in/yu-sagawa", target:["_blank"] do %>
                <i class="fab fa-linkedin-in"></i>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="text-center">
            <p>
              <%= t('corporate.profileofyu')%>
            </p>
          </div>
        </div>

        <% if false %>
        <div class="col-sm-4">
          <div class="team-member">
            <%= image_tag "team/maki.jpeg", class:"mx-auto rounded-circle"  %>
            <h4><%= t('corporate.makichimura')%></h4>
            <p class="text-muted">COO, Co-Founder</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <li class="list-inline-item">
                  <%= link_to "https://twitter.com/NoteCrime", target:["_blank"] do %>
                  <i class="fab fa-twitter"></i>
                  <% end %>
                </li>
              </li>
              <li class="list-inline-item">
                <%= link_to "https://note.mu/crimenote", target:["_blank"] do %>
                <i class="fab fa-blogger-b"></i>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="text-center">
            <p>
              <%= t('corporate.profileofmaki')%>
            </p>
          </div>
        </div>
        <% end %>

        <div class="col-sm-6">
          <div class="team-member">
            <%= image_tag "team/pt.JPG", class:"mx-auto rounded-circle"  %>
            <h4>Patrick Chibilige</h4>
            <p class="text-muted">Chief in Uganda</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-whatsapp"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="text-center">
            <p>
              <%= t('corporate.profileofpatrick')%>
          </p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="bg-corporate-dark text-white" id="recruit">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Recruit</h2>
        </div>
      </div>
      <hr class="corporate-light my-4">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
          <h3>
            <%= t("corporate.recruit_top") %>
          </h3>
          <br>
          <h3>
            <%= t("corporate.recruit_second") %>
          </h3>
          <br>
          <h5>
            <%= t("corporate.recruit_third") %> :
            <%= mail_to "heyworld.from.japan@gmail.com", class: "text-white"  do %>
            <i class="fas fa-envelope sr-contact-2"></i>
            <% end %>
            &nbsp;&nbsp;
            <%= link_to "https://twitter.com/innjera", class: "text-white", target:["_blank"] do %>
            <i class="fab fa-twitter"></i>
            <% end %>
          </h5>

          <hr class="corporate-light my-4">
          <br>
          <h4>
            <ul style="list-style-type: disc">
              <li class="my-2">Ruby, Ruby on Rails, Python</li>
              <li class="my-2">Github</li>
              <li class="my-2">AWS</li>
            </ul>
          </h4>
        </div>
        <div class="col-md-1"></div>
      </div>

    </div>
  </section>

  <section class="bg-corporate-green text-white" id="contact">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Company</h2>
        </div>
      </div>
      <hr class="corporate-light my-4">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <table class="table bg-white text-dark">
          <tbody>
            <tr>
              <th scope="row"><%= t("corporate.companyname")%></th>
              <td><%= t("corporate.heyworld")%></td>
            </tr>
            <tr>
              <th scope="row"><%= t("corporate.founded")%></th>
              <td><%= t("corporate.foundeddate")%></td>
            </tr>
            <tr>
              <th scope="row"><%= t("corporate.representative")%></th>
              <td>佐川　悠 (Yu Sagawa)</td>
            </tr>
            <tr>
              <th scope="row"><%= t("corporate.location")%></th>
              <td><%= t("corporate.location_add")%></td>
            </tr>
            <tr>
              <th scope="row"><%= t("corporate.capital")%></th>
              <td><%= t("corporate.capital_amount")%></td>
            </tr>
            <tr>
              <th scope="row"><%= t("corporate.bank")%></th>
              <td>
                <%= t("corporate.smbc")%>
                <br>
                <%= t("corporate.mizuho")%>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading"><%= t("corporate.contact")%></h2>
          <hr class="corporate-light my-4">
        </div>
      </div>
      <div class="row">
        <div class="col-12 mr-auto text-center">
            <%= mail_to "heyworld.from.japan@gmail.com", class: "text-white"  do %>
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <% end %>
        </div>
      </div>
    </div>
  </section>


  <footer class="text-center text-secondary my-5 bold">
    &copy; <%= Date.today.year %>
    <%= link_to "HeyWorld Inc.", corporate_path, class:"text-secondary" %>

    <% if false %>

    &nbsp;|&nbsp;
    follow us on
    <%= link_to "https://twitter.com/NoteCrime" do %>
    <i class="fab fa-twitter fa-x"></i>
    <% end %>

    <% end %>



  </footer>


</body>
