<!-- topへ戻るボタン -->
<div id="return-top">
  <span class="return-top-icon">
    <%= link_to "#index", class:"text-white" do %>
    <i class="fas fa-arrow-up"></i>
    <% end %>
  </span>
</div>
<!-- topへ戻るボタン -->

<% assign_meta_tags title: t("meta_tags.defaults.title"),
                    description: t("meta_tags.defaults.description"),
                    keywords: t("meta_tags.defaults.keywords") %>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="corporateNav">
    <div class="container">
      <%= link_to "HeyWorld, Inc.", "#page-top", class:"navbar-brand js-scroll-trigger" %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "#{t('corporate.mission')}", "#about", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "#{t('corporate.product')}", "#services", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "#{t('corporate.team')}", "#team", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "#{t('corporate.recruit')}", "#recruit", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "#{t('corporate.company')}", "#contact", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <% if I18n.locale.to_s == "en" %>
            <%= link_to('JP', { :locale => '' }, { class: "btn btn-sm btn-success js-scroll-trigger" }) %>
            <% else %>
            <%= link_to('EN', { :locale => 'en' }, { class: "btn btn-sm btn-success js-scroll-trigger" }) %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white d-flex">
    <div class="container mt-5 my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1>
            <strong>
              Auto After Market
              <br>
              x
              <br>
              Tech
            </strong>
          </h1>
          <hr class="corporate-green">
        </div>
        <div class="col-lg-8 mx-auto">
          <h2 class="text-faded mb-5">
            <%= t('corporate.toptext') %>
          </h2>
          <%= link_to "#{t('corporate.findoutmore')}", "#about", class:"btn btn-corporate btn-corporate-green btn-corporate-xl js-scroll-trigger" %>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-corporate-green" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">
            Mission
          </h2>
          <hr class="corporate-light my-4">
          <h4 class="text-faded mb-4">
            <%= t('corporate.mission1')%>
            <br><br>
            <%= t('corporate.mission2')%>
            <br><br>
            <%= t('corporate.mission3')%>
            <br><br>
            <%= t('corporate.mission4')%>
            <br><br>
            <%= t('corporate.mission5')%>
          </h4>
          <%= link_to "#{t('corporate.product')}", "#services", class:"btn btn-corporate btn-light btn-corporate-xl js-scroll-trigger" %>
        </div>
      </div>
    </div>
  </section>

  <section id="services">

    <% if false %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">
            Under Preparation!!
          </h2>
          <hr class="my-4 corporate-green">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-car-alt text-corporate-green mb-3 sr-icon-2"></i>
            <h3 class="mb-3">
              Coming soon!
            </h3>
            <p class="text-muted mb-0">
              <i class="fas fa-laptop-code"></i>
              Now coding.....!
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-tools fa-4x text-corporate-green mb-3 "></i>
            <h3 class="mb-3">
              Wait for a while!
            </h3>
            <p class="text-muted mb-0">
              <i class="far fa-grin-squint"></i>
              Now coding.....!
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-clipboard-list text-corporate-green mb-3 sr-icon-3"></i>
            <h3 class="mb-3">
              Soon to launch!
            </h3>
            <p class="text-muted mb-0">
              <i class="fas fa-running"></i>
              Rushing.....!
            </p>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">
            Products & Services
          </h2>
          <hr class="my-4 corporate-green">
        </div>
      </div>
    </div>

    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">
        <div class="col-md-6 col-12">
          <%= link_to "https://www.seibii.work/", class:"portfolio-box", target:["_blank"] do %>
            <%=image_tag "portfolio/thumbnails/seibii_top.png", class:"img-fluid" %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  <h3><strong>Seibii（セイビー）</strong></h3>
                </div>
                <div class="project-name">
                  <p>
                    オンライン、オンデマンドの出張自動車整備
                  <br>
                  ディーラーや整備工場に行く煩わしい時代は終わりです。
                  国家資格を有するSeibiiの整備士が、いつでも・どこでも伺います。
                  ディーラーと同等、ディーラーよりも安価と透明性のある価格を提供します。
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-6 col-12">
          <%= mail_to "heyworld.from.japan@gmail.com", :subject => 'アフリカ市場調査に関する問い合わせ', class:"portfolio-box" do %>
            <%=image_tag "portfolio/thumbnails/market.JPG", class:"img-fluid" %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  <h3><strong>アフリカ市場調査・開拓</strong></h3>
                </div>
                <div class="project-name">
                  <p>
                  アフリカへの深い知見と繋がり、総合商社での実務実績（アフリカビジネス）を有する元総合商社勤務の2人が対応します。
                  基本的にどんな調査でも対応可能です。まずはご連絡ください。
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


  </section>


  <!-- Team -->
  <section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">TEAM</h2>
          <hr class="my-4 corporate-green">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="team-member">
            <%= image_tag "team/yu.jpeg", class:"mx-auto rounded-circle"  %>
            <h4><%= t('corporate.yusagawa')%></h4>
            <p class="text-muted">CEO & CTO, Co-Founder</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <%= link_to "https://twitter.com/innjera", target:["_blank"] do %>
                <i class="fab fa-twitter"></i>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to "https://github.com/Innjera", target:["_blank"] do %>
                <i class="fab fa-github"></i>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to "https://www.linkedin.com/in/yu-sagawa", target:["_blank"] do %>
                <i class="fab fa-linkedin-in"></i>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="text-center">
            <p>
              <%= t('corporate.profileofyu')%>
            </p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="team-member">
            <%= image_tag "team/maki.jpeg", class:"mx-auto rounded-circle"  %>
            <h4><%= t('corporate.makichimura')%></h4>
            <p class="text-muted">COO, Co-Founder</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <li class="list-inline-item">
                  <%= link_to "https://twitter.com/mekki_1987", target:["_blank"] do %>
                  <i class="fab fa-twitter"></i>
                  <% end %>
                </li>
              </li>
              <li class="list-inline-item">
                <%= link_to "https://note.mu/crimenote", target:["_blank"] do %>
                <i class="fab fa-blogger-b"></i>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to "https://www.linkedin.com/in/maki-chimura/", target:["_blank"] do %>
                <i class="fab fa-linkedin-in"></i>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="text-center">
            <p>
              <%= t('corporate.profileofmaki')%>
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="bg-corporate-dark text-white" id="recruit">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Recruit</h2>
        </div>
      </div>
      <hr class="corporate-light my-4">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
          <h3>
            <%= t("corporate.recruit_top") %>
          </h3>
          <br>
          <h3>
            <%= t("corporate.recruit_second") %>
          </h3>
          <br>
          <h5>
            <%= t("corporate.recruit_third") %> :
            <%= mail_to "info@seibii.com", class: "text-white"  do %>
            <i class="fas fa-envelope sr-contact-2"></i>
            <% end %>
            &nbsp;&nbsp;
            <%= link_to "https://twitter.com/innjera", class: "text-white", target:["_blank"] do %>
            <i class="fab fa-twitter"></i>
            <% end %>
          </h5>

          <hr class="corporate-light my-4">
          <br>
          <h4>
            <ul style="list-style-type: disc">
              <li class="my-2">Ruby, Ruby on Rails</li>
              <li class="my-2">Github</li>
              <li class="my-2">Heroku/AWS/Auth0/Stripe</li>
            </ul>
          </h4>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-12 mt-5">
          <div class="text-center">
          <iframe frameborder='0' height='305px' name='wantedly_project_widget_310575' scrolling='no' src='https://platform.wantedly.com/projects/310575' style='border: none; max-width: 100%; min-width: 240px; width: 540px;'></iframe>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="bg-corporate-green text-white" id="contact">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Company</h2>
        </div>
      </div>
      <hr class="corporate-light my-4">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <table class="table bg-white text-dark">
          <tbody>
            <tr>
              <th scope="row"><%= t("corporate.companyname")%></th>
              <td><%= t("corporate.heyworld")%></td>
            </tr>
            <tr>
              <th scope="row"><%= t("corporate.founded")%></th>
              <td><%= t("corporate.foundeddate")%></td>
            </tr>
            <tr>
              <th scope="row"><%= t("corporate.representative")%></th>
              <td>佐川　悠 (Yu Sagawa)</td>
            </tr>
            <tr>
              <th scope="row"><%= t("corporate.location")%></th>
              <td><%= t("corporate.location_add")%></td>
            </tr>
            <tr>
              <th scope="row"><%= t("corporate.capital")%></th>
              <td><%= t("corporate.capital_amount")%></td>
            </tr>
            <tr>
              <th scope="row"><%= t("corporate.bank")%></th>
              <td>
                <%= t("corporate.smbc")%>
                <br>
                <%= t("corporate.mizuho")%>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading"><%= t("corporate.contact")%></h2>
          <hr class="corporate-light my-4">
        </div>
      </div>
      <div class="row">
        <div class="col-12 mr-auto text-center">
            <%= mail_to "info@seibii.com", class: "text-white"  do %>
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <% end %>
        </div>
      </div>
    </div>
  </section>


  <footer class="text-center text-secondary my-5 bold">
    &copy; <%= Date.today.year %>
    <%= link_to "HeyWorld Inc.", corporate_path, class:"text-secondary" %>

    <% if false %>

    &nbsp;|&nbsp;
    follow us on
    <%= link_to "https://twitter.com/NoteCrime" do %>
    <i class="fab fa-twitter fa-x"></i>
    <% end %>

    <% end %>



  </footer>


</body>
