<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="corporateNav">
    <div class="container">
      <%= link_to "HeyWorld, Inc.", "#page-top", class:"navbar-brand js-scroll-trigger" %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "Mission", "#about", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "Product & Service", "#services", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "Team", "#team", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "Company", "#contact", class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "#", class:"btn btn-sm btn-success js-scroll-trigger" do %>
            EN
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1>
            <strong>
              Tech x Africa x
              <br>
              Used Auto Parts
            </strong>
          </h1>
          <hr class="corporate-green">
        </div>
        <div class="col-lg-8 mx-auto">
          <h2 class="text-faded mb-5">
            自動車解体・中古自動車パーツ産業を
            <br>
            次のステージへ
          </h2>
          <%= link_to "Find Out More", "#about", class:"btn btn-corporate btn-corporate-green btn-corporate-xl js-scroll-trigger" %>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-corporate-green" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">
            Mission
          </h2>
          <hr class="corporate-light my-4">
          <p class="text-faded mb-4">
            日本国内の自動車アフターパーツ市場は約10兆円。
            その重要な部分を占めるリサイクル部品市場は、
            環境面においても大切な役割を果たしている産業です。
            <br><br>
            一方で、国内需要の減少や、来たる自動車産業の大変革に備え、次のステージに向けて動きを加速する必要があります。
            <br><br>
            翻って、経済・人口成長が著しいアフリカでは、日本の自動車中古パーツ需要は年々増加しており
            経済発展と中間所得層の増加より、「安かろう悪かろう」から「適正な価格」で「効率的に」良い部品が求められる市場へと変革しています。
            <br><br>
            HeyWorldでは、ITと物流の力で、日本の自動車リサイクル産業のコスト構造を強化し、
            アフリカを中心とする新興国マーケットととの簡単・スムースな取引を実現します。
          </p>
          <%= link_to "プロダクト・サービス", "#services", class:"btn btn-corporate btn-light btn-corporate-xl js-scroll-trigger" %>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">
            自社専用オンライン入札システム
            <br>
            - SaaS/クラウドベース -
          </h2>
          <hr class="my-4 corporate-green">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-car-alt text-corporate-green mb-3 sr-icon-2"></i>
            <h3 class="mb-3">
              簡単・安価に専用の
              <br>
              オンライン入札を開催
            </h3>
            <p class="text-muted mb-0">
              インターネットを利用して、自動車解体会社・中古パーツ会社様も簡単に自社単独の入札会を開催できます。
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-cloud fa-4x text-corporate-green mb-3 sr-icon-1"></i>
            <h3 class="mb-3">
              SaaS/クラウドベース
            </h3>
            <p class="text-muted mb-0">
              月額/販売実績ベースの安価な料金設定。
              <br>
              クラウドベースだから、常に最新のソフトウェアにアップデートされます。
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-clipboard-list text-corporate-green mb-3 sr-icon-3"></i>
            <h3 class="mb-3">
              アフリカ市場開拓
            </h3>
            <p class="text-muted mb-0">
              多数の外国人バイヤーと接続し、販売先の多角化と売上増加を実現。
              アフリカ市場への直接輸出やマーケット調査を含め、
              総合商社にてアフリカ市場のビジネスで経験を積んだメンバーが
              支援いたします。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
            <%=image_tag "portfolio/thumbnails/product.png", class:"img-fluid" %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  オンライン入札
                </div>
                <div class="project-name">
                  現在、招待制にて運用を開始しています。
                  詳細は、お問い合わせからご連絡ください。
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="#">
            <%=image_tag "portfolio/thumbnails/bid.png", class:"img-fluid" %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  オンライン入札
                </div>
                <div class="project-name">
                  現在、招待制にて運用を開始しています。
                  詳細は、お問い合わせからご連絡ください。
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
            <%=image_tag "portfolio/thumbnails/market.JPG", class:"img-fluid" %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  アフリカ市場調査・開拓
                </div>
                <div class="project-name">
                  自動車マーケットに限らず、対応可能。
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">TEAM</h2>
          <hr class="my-4 corporate-green">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <%= image_tag "team/yu.jpeg", class:"mx-auto rounded-circle"  %>
            <h4>Yu Sagawa</h4>
            <p class="text-muted">CEO & CTO, Co-Founder</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <%= link_to "https://twitter.com/innjera" do %>
                <i class="fab fa-twitter"></i>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to "https://github.com/Innjera" do %>
                <i class="fab fa-github"></i>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to "https://www.linkedin.com/in/yu-sagawa" do %>
                <i class="fab fa-linkedin-in"></i>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="text-center">
            <p>
              三井物産を経てHeyWorldを創業。
              三井物産では10年間、資源ビジネス・リサイクルビジネス・アフリカ市場開拓に携わる。
              南アフリカに駐在し、アフリカ中を飛び回ってきた。
              学生時代にはエチオピアに留学するなど、アフリカ好き。
              Rubyエンジニアでもある。
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <%= image_tag "team/maki.jpeg", class:"mx-auto rounded-circle"  %>
            <h4>Maki Chimura</h4>
            <p class="text-muted">COO, Co-Founder</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <li class="list-inline-item">
                  <%= link_to "https://twitter.com/NoteCrime" do %>
                  <i class="fab fa-twitter"></i>
                  <% end %>
                </li>
              </li>
              <li class="list-inline-item">
                <%= link_to "https://note.mu/crimenote" do %>
                <i class="fab fa-blogger-b"></i>
                <% end %>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="text-center">
            <p>
              三井物産を経てHeyWorldを創業。英語、フランス語、アラビア語に堪能。
              三井物産では８年間、資源ビジネスを担当し、南アフリカに駐在。
              チュニジア生まれ、チュニジア人とのハーフ。現在は、ウガンダ人を父に持つ。
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <%= image_tag "team/pt.JPG", class:"mx-auto rounded-circle"  %>
            <h4>Patrick Chibilige</h4>
            <p class="text-muted">Chief in Uganda</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-whatsapp"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="text-center">
            <p>
              ウガンダの首都カンパラ、ケニアの首都ナイロビと名古屋をベースに自動車中古パーツ事業を営む。
              ウガンダではKani Auto Partsのオーナー経営者。
          </p>
          </div>

        </div>
      </div>
    </div>
  </section>


  <section class="bg-corporate-dark text-white" id="contact">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Company</h2>
        </div>
      </div>
      <hr class="corporate-light my-4">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <table class="table bg-white text-dark">
          <tbody>
            <tr>
              <th scope="row">社名</th>
              <td>株式会社HeyWorld</td>
            </tr>
            <tr>
              <th scope="row">設立</th>
              <td>2019年1月</td>
            </tr>
            <tr>
              <th scope="row">代表取締役</th>
              <td>佐川　悠 (Yu Sagawa)</td>
            </tr>
            <tr>
              <th scope="row">資本金</th>
              <td>4,000,000円</td>
            </tr>
            <tr>
              <th scope="row">所在地</th>
              <td>東京都港区六本木3-7-1-420</td>
            </tr>
            <tr>
              <th scope="row">資本金</th>
              <td>4,000,000円</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">こちらからご連絡ください</h2>
          <hr class="corporate-light my-4">
        </div>
      </div>
      <div class="row">
        <div class="col-12 mr-auto text-center">
            <%= mail_to "heyworld.from.japan@gmail.com", class: "text-white"  do %>
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <% end %>
        </div>
      </div>
    </div>
  </section>


  <footer class="text-center text-secondary my-5 bold">
    &copy; <%= Date.today.year %>
    <%= link_to "HeyWorld Inc.", corporate_path, class:"text-secondary" %>
    &nbsp;|&nbsp;
    follow us on
    <%= link_to "https://twitter.com/NoteCrime" do %>
    <i class="fab fa-twitter fa-x"></i>
    <% end %>
  </footer>


</body>
