<div class="form-group">
<%= form.label :car_brand, "カーメーカー" %>
<%= form.select :car_brand, Autopart::CARBRAND_OPTIONS.invert, { prompt: "--選択してください--"}, class: "form-control" %>
</div>

<div class="form-group">
<%= form.label :car_model, "車種" %>
<%= form.text_field :car_model, autofocus: true, class: "form-control", placeholder: "（例）2001 TOYOTA COROLLA" %>
</div>

<div class="form-group">
  <%= form.label :parts_category, "部品カテゴリー" %>
  <%= form.select :parts_category, Autopart::AUTOPARTS_OPTIONS.invert, { prompt: "--選択してください--"}, class: "form-control" %>
</div>

<div class="form-group">
<%= form.label :autoparts_maker, "パーツ製造メーカー" %>
<%= form.text_field :autoparts_maker, autofocus: true, class: "form-control", placeholder: "（例）Denso" %>
</div>

<div class="form-group">
<%= form.label :genuine_parts_number, "純正品番号" %>
<%= form.text_field :genuine_parts_number, autofocus: true, class: "form-control", placeholder: "（例）" %>
</div>

<table class="table my-5">
  <tbody>
    <tr>
      <th scope="row">コンディション</th>
      <td>
        <%= form.radio_button :condition, 0 %>
        <%= form.label :condition_0, "中古" %>
        &nbsp;&nbsp;&nbsp;
        <%= form.radio_button :condition, 1 %>
        <%= form.label :condition_1, "純正部品" %>
        &nbsp;&nbsp;&nbsp;
        <%= form.radio_button :condition, 2 %>
        <%= form.label :condition_2, "リビルト部品" %>
      </td>
    </tr>
    <tr>
      <th scope="row">燃料タイプ</th>
      <td>
        <%= form.radio_button :fuel_type, 0 %>
        <%= form.label :fuel_type_0, "非該当" %>
        &nbsp;&nbsp;&nbsp;
        <%= form.radio_button :fuel_type, 1 %>
        <%= form.label :fuel_type_1, "ガソリン" %>
        &nbsp;&nbsp;&nbsp;
        <%= form.radio_button :fuel_type, 2 %>
        <%= form.label :fuel_type_2, "ディーゼル" %>
        &nbsp;&nbsp;&nbsp;
        <%= form.radio_button :fuel_type, 3 %>
        <%= form.label :fuel_type_3, "ハイブリッド" %>
      </td>
    </tr>
    <tr>
      <th scope="row">ミッションタイプ</th>
      <td>
        <%= form.radio_button :mission_type, 0 %>
        <%= form.label :mission_type_0, "非該当" %>
        &nbsp;&nbsp;&nbsp;
        <%= form.radio_button :fuel_type, 1 %>
        <%= form.label :mission_type_1, "AT" %>
        &nbsp;&nbsp;&nbsp;
        <%= form.radio_button :fuel_type, 2 %>
        <%= form.label :mission_type_2, "MT" %>
        &nbsp;&nbsp;&nbsp;
        <%= form.radio_button :fuel_type, 3 %>
        <%= form.label :mission_type_3, "CVT" %>
      </td>
    </tr>
    <tr>
      <th scope="row">駆動方式</th>
      <td>
        <%= form.radio_button :drive, 0 %>
        <%= form.label :drive_0, "非該当" %>
        &nbsp;&nbsp;&nbsp;
        <%= form.radio_button :drive, 1 %>
        <%= form.label :fuel_type_1, "2WD" %>
        &nbsp;&nbsp;&nbsp;
        <%= form.radio_button :drive, 2 %>
        <%= form.label :drive_type_2, "4WD" %>
      </td>
    </tr>
  </tbody>
</table>

<div class="form-group">
<%= form.label :model_code, "型式/モデルコード" %>
<%= form.text_field :model_code, autofocus: true, class: "form-control", placeholder: "（例）Y12" %>
</div>

<div class="form-group">
<%= form.label :engine_model_code, "エンジン型式" %>
<%= form.text_field :engine_model_code, autofocus: true, class: "form-control", placeholder: "（例）Y12" %>
</div>

<div class="form-group">
<%= form.label :mileage, "走行距離" %>
<%= form.text_field :mileage, autofocus: true, class: "form-control", placeholder: "20,000km" %>
</div>

<div class="form-group">
<%= form.label :registration_year, "年式", for: "registration_year" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= form.date_select :registration_year, start_year: 1975, end_year: Time.current.year, use_month_numbers: true, add_month_number: true, date_separator: "年  ", discard_day: true %>月
</div>

<div class="form-group">
<%= form.label :remarks, "備考" %>
<%= form.text_area :remarks, autofocus: true, class: "form-control", placeholder: "特記事項があれば記載ください", rows:5 %>
</div>
