<div class="form-group">
<%= form.label :car_brand, "Brand：メーカー" %>
<%= form.select :car_brand, Autopart::CARBRAND_OPTIONS.invert, { prompt: "--選択してください--"}, class: "form-control" %>
</div>
<div class="form-group">
<%= form.label :car_model, "Model：モデル" %>
<%= form.text_field :car_model, autofocus: true, class: "form-control", placeholder: "（例）corolla" %>
</div>
<div class="form-group">
<%= form.label :category, "Parts Category：部品カテゴリー" %>
<%= form.select :category, Autopart::AUTOPARTS_OPTIONS.invert, { prompt: "--選択してください--"}, class: "form-control" %>
</div>
