<div class="modal text-dark" id="delete-confirmation-<%= tender.id %>", tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">入札会 No. <%= tender.id %>を削除</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          入札開始日：<strong><%= tender.starts_at.strftime("%Y年%m月%d日（#{format_wday_ja(tender.starts_at)}） %H:%M") %></strong>
        </p>
        <p>
          入札終了日：<strong><%= tender.ends_at.strftime("%Y年%m月%d日（#{format_wday_ja(tender.starts_at)}）%H:%M") %></strong>
        </p>
        <p>
          <strong>削除した場合、元には戻せません。</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
          <i class="fas fa-times"></i>
          &nbsp;<strong>キャンセル</<strong>
        </button>
        <%= link_to sellers_tender_path(tender), method: :delete, class:"btn btn-outline-danger" do%>
        <i class="far fa-trash-alt"></i>
        &nbsp;<strong>削除する</strong>
        <% end %>

      </div>
    </div>
  </div>
</div>
