<div class="form-group">
  <%= f.label :starts_at_date_part, "入札「開始」日"%>&nbsp;&nbsp;&nbsp;<span class="badge badge-pill badge-danger">必須</span>
  <div class='input-group'>
    <div class="input-group-prepend">
      <span class="input-group-text"><i class='far fa-calendar-alt'></i></span>
    </div>
    <%= f.text_field :starts_at_date_part, class: 'form-control date-picker', required: true %>
  </div>
</div>
<div class="form-group" >
  <%= f.label :starts_at_time_part, "入札「開始」時間"%>&nbsp;&nbsp;&nbsp;<span class="badge badge-pill badge-danger">必須</span>
  <div class='input-group'>
    <div class="input-group-prepend">
      <span class="input-group-text"><i class='far fa-clock'></i></span>
    </div>
    <%= f.text_field :starts_at_time_part, class: 'form-control time-picker', required: true %>
  </div>
</div>
<div class="form-group" >
  <%= f.label :ends_at_date_part, "入札「終了」日"%>&nbsp;&nbsp;&nbsp;<span class="badge badge-pill badge-danger">必須</span>
  <div class='input-group'>
    <div class="input-group-prepend">
      <span class="input-group-text"><i class='far fa-calendar-alt'></i></span>
    </div>
    <%= f.text_field :ends_at_date_part, class: 'form-control date-picker', required: true %>
  </div>
</div>
<div class="form-group" >
  <%= f.label :ends_at_time_part, "入札「終了」時間" %>&nbsp;&nbsp;&nbsp;<span class="badge badge-pill badge-danger">必須</span>
  <div class='input-group'>
    <div class="input-group-prepend">
      <span class="input-group-text"><i class='far fa-clock'></i></span>
    </div>
    <%= f.text_field :ends_at_time_part, class: 'form-control time-picker', required: true %>
  </div>
</div>
<div class="form-group" >
  <%= f.label :status, "ステータス" %>
  &nbsp;&nbsp;&nbsp;<span class="badge badge-pill badge-danger">必須</span>
  &nbsp;&nbsp;&nbsp;<span class="text-danger">* 全ての設定が完了した場合は完了を、ドラフトの場合はドラフトを選択してください</span>
  <%= f.select :status, Tender.status_options, {}, class: 'form-control' %>
</div>

<div class="form-group" >
  <%= f.label :tender_location_id, "開催場所" %>
  &nbsp;&nbsp;&nbsp;<span class="badge badge-pill badge-danger">必須</span>
  <%= select_tag :tender_location_id, options_from_collection_for_select(@tender_location_candidates.all, :id, :address), class: 'form-control' %>
</div>
