<div class="container-fluid">
  <div class="row">
    <nav class="col-2 bg-light sidebar">
      <%= render 'sellers/shared/sidebar' %>
    </nav>
    <main class="col-10">

      <h1 class="text-secondary my-4">入札会一覧</h1>

      <% @tenders.each do |tender| %>
      <div class="tenders w-100 mt-3">
        <%= link_to sellers_tender_path(tender) do %>
        <div class="one-tender bg-light-success text-dark p-2">
          No. <%= tender.id %> |
          開始：<%= tender.starts_at.strftime("%Y年%m月%d日（#{format_wday_ja(tender.starts_at)}）%H:%M") %>、
          終了：<%= tender.ends_at.strftime("%Y年%m月%d日（#{format_wday_ja(tender.starts_at)}）%H:%M") %>
          <br>
          <div class="mt-2">
          <%= tender_status_text(tender) %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </main>
  </div>
</div>
