<div class="container-fluid">

  <div class="row">

    <nav class="col-2 bg-light sidebar">
      <%= render 'sellers/shared/sidebar' %>
    </nav>

    <main class="col-10">

      <div class="row">
        <div class="col-12 my-3">
          <div class="alert alert-success">
            <%= @tender.seller.company_name %> 入札 No. <%= @tender.id %>

            <%= link_to :edit_sellers_tender, class:"btn btn-sm btn-success ml-4" do %>
            <i class="fas fa-edit"></i>&nbsp;設定を変更
            <% end %>

            <%= render "delete_confirmation", tender: @tender %>
            <%= link_to "#delete-confirmation-#{@tender.id}", data: {toggle: "modal"}, class:"btn btn-sm btn-outline-secondary" do%>
            <i class="far fa-trash-alt"></i>
            &nbsp;入札会を削除
            <% end %>

            <div class="bg-light p-2 my-2">
              入札開始日：
              <strong>
              <%= @tender.starts_at.strftime("%Y年%m月%d日（#{format_wday_ja(@tender.starts_at)}） %H:%M") %>
              </strong>
              &nbsp;&nbsp;&nbsp;&nbsp;
              入札終了日：
              <strong>
              <%= @tender.ends_at.strftime("%Y年%m月%d日（#{format_wday_ja(@tender.starts_at)}）%H:%M") %>
              </strong>
            </div>

            <div class="bg-light p-2 my-2">
              入札場所：<%= @tender.tender_location.address %>(id:<%= @tender.tender_location.id %>)
            </div>

            <div class="bg-light p-2">
              ステータス：
              <%= tender_status_text(@tender)%>
            </div>

          </div>
        </div>
        </div>

      <div class="row">

        <div class="col-12">

          <%= link_to new_sellers_tender_engine_path(@tender), class:"btn btn-warning mb-3" do %>
          <i class="fas fa-plus"></i>&nbsp;エンジンを追加する
          <% end %>

        </div>

      </div>

      <div class="row">

          <div class="col-12">

            <% @engines.each do |engine| %>
            <%= render "bidder_list", engine: engine %>

            <div class="card flex-row flex-wrap my-2 w-100">
              <div class="card-header d-inline border-0 p-0">
                <%= image_tag("parts_example.JPG", size: "158x120")%>
              </div>
              <div class="card-body p-2">

                <span class="badge badge-pill badge-dark">
                <% if engine.condition == 0 %>
                中古
                <% elsif engine.condition == 1 %>
                新品 - 純正
                <% elsif engine.condition == 2 %>
                新品 - リビルト
                <% end %>
                </span>

                <br>

                <%= engine.engine_model_code %>
                <br>
                <%= engine.car_model %>, <%= engine.car_make %>
                <br>
                <span class="text-dark">
                  <i class="fas fa-map-marker-alt"></i>
                  Aichi | Nagoya
                </span>
                <br>

              </div>
              <div class="card-footer w-100 bg-white p-2 text-muted justify-content-end">
                <span class="text-muted">最低入札価格</span>：
                <%= number_to_currency(engine.minimum_price, :unit => "JPY ", :precision => 0) %>
                &nbsp;
                |
                &nbsp;
                <i class="fas fa-users"></i>
                入札者数 :
                <%= link_to "#bidder-list-#{engine.id}", data: {toggle: "modal"} do %>
                <strong>
                <%= engine.bidders.count %>
                </strong>
                <% end %>
                人
              </div>
              <div class="card-footer w-100 bg-white p-2 justify-content-end">
                <%= link_to sellers_tender_engine_path(@tender, engine), class:"btn btn-sm btn-outline-success" do %>
                詳細確認
                <% end %>
              </div>
            </div>
            <% end %>


          </div>

        </div>

      </div>

    </main>

  </div><!-- 3. row -->

</div><!-- 1. container-fluid -->
