<div class="container-fluid">
  <div class="row">
    <nav class="col-2 bg-light sidebar">
      <%= render 'sellers/shared/sidebar' %>
    </nav>
    <main class="col-10">

      <div class="row">

        <div class="col-12 mt-3">

          <%= @tender.seller.company_name %> 入札 No. <%= @tender.id %>
          &nbsp;&nbsp;
          <% if @tender.status == "ready" %>
          <span class="badge badge-pill badge-primary">準備完了</span>
          <% else %>
          <span class="badge badge-pill badge-secondary">準備中</span>
          <% end %>
          <br>
          <span class="tender-duration">
            入札開始日：<%= @tender.starts_at.strftime("%Y年%m月%d日（#{format_wday_ja(@tender.starts_at)}） %H:%M") %>、
            入札終了日：<%= @tender.ends_at.strftime("%Y年%m月%d日（#{format_wday_ja(@tender.starts_at)}）%H:%M") %>
          </span>

        </div>

      </div>

    </main>
  </div>
</div>
