<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="google-site-verification" content="6f_NdzatUlANbr-GnKLWe6WkN5TABa3y4al_wbAf9Gg" />
    <%= analytics_init if Rails.env.production? %>
    <title>HeyWorld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <%= show_meta_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <%= breadcrumbs pretext: "You are here : ", separator: " &rsaquo; ", class: "my-2 pl-4 bg-light" %>

    <%= render 'layouts/flash_message' %>

    <%= yield %>

    <%= render 'shared/footer'%>

  </body>
</html>
