<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="google-site-verification" content="6f_NdzatUlANbr-GnKLWe6WkN5TABa3y4al_wbAf9Gg" />
    <%= analytics_init if Rails.env.production? %>
    <title>HeyWorld-Corporate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('heyworld.png')%>
    <%= favicon_link_tag('heyworld.png', rel: 'apple-touch-icon')%>
    <%= show_meta_tags %>
  </head>


    <%= yield %>


</html>
